# Statera environment variables

# Application
APP_NAME=Statera
APP_ENV=development

# Database
DATABASE_URL=postgresql+psycopg://statera:CHANGE_ME@POSTGRES_FQDN:6432/statera?sslmode=verify-full&sslrootcert=/absolute/path/to/CA.pem
