cloud_id                 = "b1gXXXXXXXXXXXXXXXXX"
folder_id                = "b1gXXXXXXXXXXXXXXXXX"
zone                     = "ru-central1-a"
service_account_key_file = "./key.json"
subnet_cidr              = "10.10.0.0/24"
network_id = "replace-with-existing-network-id"
